h1{
    color: blue;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 904px;
    width: 500;
    background-color: blue;
    padding: 50px;
    border: 10px double lightseagreen
}
#spanId{
    font-size: 18px;
    margin: 50px;
    
}
